.CreateCampaignDialogModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;

  & > h5 {
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
    color: #081E57;
    font-weight: normal;
  }

  & > h3 {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;
    color: #4765F0;
    font-weight: 600;
  }

  & > div {
    margin: 20px 0 5px 0;
  }

  & > button {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #4765F0;
    background: transparent;
    outline-color: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: .7em 1.5em;
    border-radius: var(--radius);
    border: 2px solid transparent;
    transition: border 200ms ease-in;

    &:hover {
      border: 2px solid var(--primary-clr);
    }
  }
}