.CreateCampaignDialogModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;

  & > h5 {
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
    color: #081E57;
    font-weight: normal;
  }

  & > h3 {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;
    color: #4765F0;
    font-weight: 600;
  }

  & > div {
    margin: 20px 0 5px 0;
  }
}