.AutomaticallyCreatedDiscountForm {
  width: 100%;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  &__SectionTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: var(--primary-clr);
  }

  &__SectionBody {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}