.Button {
  width: max-content;
  height: var(--el-size);
  outline-color: transparent;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: calc(var(--radius) / 2);
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  user-select: none;

  & > span {
    white-space: nowrap;
  }

  &__Primary {
    border: 2px solid var(--primary-linear-gradient);
    background: var(--primary-linear-gradient);
    color: var(--mode-clr);
    transition: color 250ms ease-in, background 300ms ease-in;
    
    &:hover {
      border: 2px solid var(--primary-clr);
      background: var(--mode-clr);
      color: var(--primary-clr);
    }
  }

  &__PrimaryNoOutlined {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #4765F0;
    background: transparent;
    outline-color: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: .7em 1.5em;
    border-radius: var(--radius);
    border: 2px solid transparent;
    transition: border 200ms ease-in;

    &:hover {
      border: 2px solid var(--primary-clr);
    }
  }

  &__Secondary {
    background: linear-gradient(180deg, #F6F8FF 0%, #CEDCFF 100%);
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #4765F5;
    border-color: #F6F8FF;
    transition: background 200ms ease-in;

    &:hover {
      background: var(--secondary-clr);
      color: var(--mode-clr);
    }
  }

  &:disabled {
    background: var(--disabled-clr);
    pointer-events: none;
  }
}