.AppLogo {
  background: var(--primary-clr);
  border-radius: 10px;
  width: 59px;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.AppLogo > svg {
  width: 45px;
  height: 45px;
  margin-top: 6px;
  margin-left: 5px;
}

.AppLogo > svg > path {
  width: 100%;
  height: 100%;
}