.Input {
  width: 100%;
  height: 50px;
  background: var(--mode-clr);
  border: 2px solid var(--border-clr);
  border-radius: var(--radius);
  color: var(--secondary-clr);
  transition: border-color 200ms ease-in;
  overflow: hidden;
  display: flex;
  align-items: center;

  & > input {
    width: 100%;
    height: 100%;
    padding: 2px 20px;
    outline: none;
    border: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;

    &::placeholder {
      color: var(--secondary-clr);
      opacity: .5;
    }
  }

  & > span {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 2px 20px;
    white-space: nowrap;
    color: var(--secondary-clr);
    opacity: .5;
    transition: opacity 200ms ease-in;
  }

  &:focus-within {
    border-color: var(--primary-clr);
  }

  &:focus-within > span {
    opacity: 1;
  }
}