.DisableArea {
  width: 100%;
  height: auto;
  position: relative;

  &::before {
    content: attr(data-content);
    position: absolute;
    inset: 0;
    z-index: 99;
    color: var(--disabled-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #081E57;
  }

  & > * {
    opacity: .5;
    pointer-events: none;
    user-select: none;
  }
}