.AppHeader {
  padding: var(--spacing-ly);
  background: var(--mode-clr);
  padding-left: 0;
  padding-right: 0;

  &__Container {
    width: var(--max-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-ly);
    padding-bottom: 0;
    padding-top: 0;
  }

  &__Logo {
    display: flex;
    align-items: center;
    gap: 15px;

    & > h3 {
      font-size: 26px;
      line-height: 39px;
      color: #081E57;
    }
  }

  &__Navigation {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 5rem;

    & > li {
      display: flex;
      justify-content: center;
      align-items: center;

      & > a {
        color: var(--secondary-clr);
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5px;

        & > span {
          font-size: 13px;
          line-height: 20px;
          text-align: center;
          color: var(--secondary-clr);
        }

        & > svg {
          width: 26px;
          height: 27px;
          stroke: var(--secondary-clr);
          
          & > path {
            stroke: var(--secondary-clr);
          }
        }
      }
    }
  }

  &__ActiveNavigation {
    color: var(--primary-clr) !important;
    
    & > span {
      color: var(--primary-clr) !important;
    }

    & > svg {
      stroke: var(--primary-clr) !important;
      
      & > path {
        stroke: var(--primary-clr) !important;
      }
    }
  }
}
